<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Чат</title>
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/layout.css">
    <link rel="stylesheet" href="/css/components.css">
    <link rel="stylesheet" href="/css/chat.css">
</head>
<body>

<div class="wrapper">
    <div id="header"></div>

    <div class="container chat-container">
        <div id="messages" class="messages"></div>
    </div>
</div>

<script src="/js/chat-details.js"></script>
<script>
        fetch("/common/header.html")
            .then(res => res.text())
            .then(html => document.getElementById("header").innerHTML = html);

</script>
</body>
</html>
