/* base.css */
* {
  box-sizing: border-box;
}

body {
    background: #f4f6f9;
    margin: 0;
    font-family: Arial, sans-serif;
    height: 100vh;
}

h2 {
  margin-top: 0;
  text-align: center;
  font-weight: 600;
}

