/* layout.css */

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.container {
  background: white;
  width: 100%;
  padding: 25px 30px;
  border-radius: 12px;
  box-shadow: 0 4px 18px rgba(0,0,0,0.1);
  max-width: 420px;
}

/* .container.wide {
  max-width: 640px;
} */

.header{
    background: #333;
    padding: 15px 20px;
    display: flex;
    border-radius: 12px;
    justify-content: space-around;
}

.header a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

#header {
    text-align: center;
    width: 100%;
    max-width: 420px;
}